@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Think";
  src: url("/fonts/Roboto/Roboto-Thin.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.button-white,
.button-dark {
  font-size: 15px;
  border: none;
  padding: 15px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}

.button-white {
  color: #007bff;
}
.button-white:hover {
  transform: translateY(-2px);
  background-color: #007bff;
  color: #fff;
}

.button-dark {
  color: #fff;
  background-color: #007bff;
}
.button-dark:hover {
  transform: translateY(-2px);
  opacity: 0.8;
}

header {
  font-family: "Roboto", sans-serif;
  background-image: url("/images/bg-img-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 140px;
  margin: 0px 60px;
  font-size: 18px;
}
header nav {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
header nav .menu-bar {
  display: inherit;
}
header nav .menu-bar .menu-icon {
  display: none;
  width: 25px;
}
header nav .menu-bar ul {
  list-style: none;
  display: flex;
}
header nav .menu-bar ul li {
  padding: 20px;
}
header nav .menu-bar ul li a {
  transition: 0.3s ease;
  text-decoration: none;
  color: #959eaf;
}
header nav .menu-bar ul li a:hover {
  color: #007bff;
}
header nav .menu-bar ul li:nth-child(1) {
  font-weight: bold;
}
header nav .menu-bar ul li:nth-child(1) a {
  color: #007bff;
}
header nav .menu-bar .buttons {
  margin-top: 5px;
}
header section {
  display: flex;
  align-items: flex-start;
  padding: 100px 50px;
  font-size: 20px;
  color: #646f79;
  font-family: "Poppins", sans-serif;
  justify-content: space-between;
}
header section .left {
  padding: 25px 0;
  line-height: 35px;
}
header section .left .buttons {
  font-size: 18px;
  padding: 30px 0;
  line-height: 40px;
}

main {
  width: 100%;
  text-align: center;
  font-family: "Roboto-Light", sans-serif;
}
main section p {
  color: #646f79;
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
}
main section .head {
  font-size: 40px;
  color: #222222;
  font-weight: 100;
}
main section .partner-images {
  display: flex;
  width: 800px;
  margin: 20px auto 100px;
  height: 25px;
  justify-content: space-between;
}
main section .features {
  margin: 35px 0;
  font-family: "Roboto-Think", sans-serif;
  display: flex;
  justify-content: center;
}
main section .features div {
  text-align: left;
  width: 350px;
}
main section .features div p {
  line-height: 30px;
  font-size: 17px;
}
main section .features div .h {
  color: #222222;
  font-size: 25px;
}
main .great {
  font-family: "Roboto-Think", sans-serif;
  text-align: left;
  margin: 40px auto;
  max-width: 1200px;
  width: 100%;
}
main .great h1 {
  font-weight: bold;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}
main .great p {
  color: #646f79;
}
main .main-section {
  display: flex;
  align-items: center;
  max-width: 1050px;
  text-align: left;
  line-height: 30px;
  width: 100%;
  margin: auto;
  justify-content: center;
}
main .main-section p {
  color: #646f79;
}
main .main-section h1 {
  padding: 30px 0;
  line-height: 40px;
}
main .main-section .container {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
  flex-wrap: wrap;
}
main .main-section .container div {
  text-align: left;
  width: 260px;
  height: 160px;
}
main .main-section .container div .h {
  font-weight: bold;
  color: #222222;
  font-size: 20px;
}
main .main-section .right {
  width: 700px;
}
main .main-section .right img {
  width: 100%;
}
main .main-section .left {
  width: 100%;
  line-height: 35px;
  margin: 0 30px 0 0;
}

.swiper {
  width: 80%;
  height: 240px;
}
.swiper .swiper-wrapper .swiper-slide {
  display: flex;
  border-radius: 40px 0 40px 0;
  padding: 30px;
}
.swiper .swiper-wrapper .swiper-slide img {
  height: 70px;
}
.swiper .swiper-wrapper .swiper-slide div {
  width: 400px;
  padding: 15px;
  text-align: left;
  line-height: 30px;
}
.swiper .swiper-wrapper .swiper-slide div p:nth-child(1) {
  font-weight: bold;
  font-size: 20px;
}
.swiper .swiper-wrapper .swiper-slide div p:nth-child(2) {
  color: #646f79;
}
.swiper .swiper-wrapper .swiper-slide:hover {
  background: linear-gradient(to bottom, #007bff, rgba(0, 123, 255, 0.5960784314));
}
.swiper .swiper-wrapper .swiper-slide:hover p {
  color: #fff !important;
}/*# sourceMappingURL=main.css.map */