@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Think";
  src: url("/fonts/Roboto/Roboto-Thin.ttf");
}
$blue: #007bff;
$white: #fff;
$grey: #959eaf;
$greypro: #646f79;
$black: #222222;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.button-white,
.button-dark {
  font-size: 15px;
  border: none;
  padding: 15px 20px;
  margin: 0 5px;
  border-radius: 5px;

  cursor: pointer;
  transition: 0.4s ease;
}
.button-white {
  color: $blue;
  &:hover {
    transform: translateY(-2px);
    background-color: $blue;
    color: $white;
  }
}
.button-dark {
  color: $white;
  background-color: $blue;
  &:hover {
    transform: translateY(-2px);
    opacity: 0.8;
  }
}

header {
  font-family: "Roboto", sans-serif;
  background-image: url("/images/bg-img-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 140px;
  margin: 0px 60px;
  font-size: 18px;
  nav {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    .menu-bar {
      display: inherit;
      .menu-icon {
        display: none;
        width: 25px;
      }
      ul {
        list-style: none;
        display: flex;
        li {
          padding: 20px;
          a {
            transition: 0.3s ease;
            text-decoration: none;
            color: $grey;
            &:hover {
              color: $blue;
            }
          }
        }
        li:nth-child(1) {
          font-weight: bold;
          a {
            color: $blue;
          }
        }
      }
      .buttons {
        margin-top: 5px;
      }
    }
  }
  section {
    display: flex;
    align-items: flex-start;
    padding: 100px 50px;
    font-size: 20px;
    color: $greypro;
    font-family: "Poppins", sans-serif;
    justify-content: space-between;

    .left {
      padding: 25px 0;
      line-height: 35px;
      .buttons {
        font-size: 18px;
        padding: 30px 0;
        line-height: 40px;
      }
    }
  }
}
main {
  width: 100%;

  text-align: center;
  font-family: "Roboto-Light", sans-serif;
  section {
    p {
      color: $greypro;
      padding: 20px 0;
      font-size: 20px;
      font-weight: bold;
    }
    .head {
      font-size: 40px;
      color: $black;
      font-weight: 100;
    }
    .partner-images {
      display: flex;
      width: 800px;
      margin: 20px auto 100px;

      height: 25px;
      justify-content: space-between;
    }
    .features {
      margin: 35px 0;
      font-family: "Roboto-Think", sans-serif;
      display: flex;
      justify-content: center;
      div {
        p {
          line-height: 30px;
          font-size: 17px;
        }
        .h {
          color: $black;
          font-size: 25px;
        }

        text-align: left;
        width: 350px;
      }
    }
  }
  .great {
    font-family: "Roboto-Think", sans-serif;
    text-align: left;

    margin: 40px auto;
    max-width: 1200px;
    width: 100%;
    h1 {
      font-weight: bold;
      font-size: 30px;
      font-family: "Roboto", sans-serif;
    }
    p {
      color: $greypro;
    }
  }
  .main-section {
    display: flex;
    align-items: center;
    max-width: 1050px;
    text-align: left;
    line-height: 30px;
    width: 100%;
    margin: auto;
    justify-content: center;
    p {
      color: $greypro;
    }
    h1 {
      padding: 30px 0;
      line-height: 40px;
    }
    .container {
      display: flex;
      justify-content: flex-start;
      margin: 20px 0;
      flex-wrap: wrap;
      div {
        .h {
          font-weight: bold;
          color: $black;
          font-size: 20px;
        }
        text-align: left;
        width: 260px;
        height: 160px;
      }
    }
    .right {
      width: 700px;
      img {
        width: 100%;
      }
    }
    .left {
      width: 100%;
      line-height: 35px;
      margin: 0 30px 0 0;
    }
  }
}
.swiper {
  width: 80%;
  height: 240px;
  .swiper-wrapper {
    .swiper-slide {
      display: flex;
      border-radius: 40px 0 40px 0;
      padding: 30px;
      img {
        height: 70px;
      }
      div {
        width: 400px;
        padding: 15px;
        text-align: left;
        line-height: 30px;
        p:nth-child(1) {
          font-weight: bold;
          font-size: 20px;
        }
        p:nth-child(2) {
          color: $greypro;
        }
      }
      &:hover {
        background: linear-gradient(to bottom, $blue, #007bff98);
        p {
          color: $white !important;
        }
      }
    }
  }
}
